/Tcl/
/tcltk-*.zip

/.vscode/
/bin/
/include/
/library/
/modules/
/share/zoneinfo/
/etc/x64/
*.local
*.d
*.o
*.a


# Files created during build
/SVN-REVISION

/src/gnuwin32/COPYRIGHTS

/Makeconf
/src/appl/Makedeps
/src/extra/graphapp/Makedeps
/src/extra/tre/Makedeps
/src/extra/tzone/Makedeps
/src/extra/win_iconv/Makedeps
/src/gnuwin32/Makedeps
/src/gnuwin32/front-ends/Makedeps
/src/main/Makedeps
/src/modules/internet/Makedeps
/src/modules/lapack/Makedeps
/src/nmath/Makedeps
/src/gnuwin32/MkRules

/src/library/grDevices/src/Makedeps
/src/library/graphics/src/Makedeps
/src/library/grid/src/Makedeps
/src/library/methods/src/Makedeps
/src/library/parallel/src/Makedeps
/src/library/splines/src/Makedeps
/src/library/stats/src/Makedeps
/src/library/tcltk/src/Makedeps
/src/library/tools/src/Makedeps
/src/library/utils/src/Makedeps

/src/library/base/all.R
/src/library/compiler/all.R
/src/library/grDevices/all.R
/src/library/graphics/all.R
/src/library/grid/all.R
/src/library/methods/all.R
/src/library/parallel/all.R
/src/library/splines/all.R
/src/library/stats/all.R
/src/library/stats4/all.R
/src/library/tcltk/all.R
/src/library/tools/all.R
/src/library/utils/all.R

/src/library/base/DESCRIPTION
/src/library/compiler/DESCRIPTION
/src/library/datasets/DESCRIPTION
/src/library/grDevices/DESCRIPTION
/src/library/graphics/DESCRIPTION
/src/library/grid/DESCRIPTION
/src/library/methods/DESCRIPTION
/src/library/parallel/DESCRIPTION
/src/library/splines/DESCRIPTION
/src/library/stats/DESCRIPTION
/src/library/stats4/DESCRIPTION
/src/library/tcltk/DESCRIPTION
/src/library/tools/DESCRIPTION
/src/library/translations/DESCRIPTION
/src/library/utils/DESCRIPTION

/src/library/graphics/src/graphics.dll
/src/library/grDevices/src/grDevices.dll
/src/library/grid/src/grid.dll
/src/library/methods/src/methods.dll
/src/library/parallel/src/parallel.dll
/src/library/splines/src/splines.dll
/src/library/stamp-docs
/src/library/stats/src/stats.dll
/src/library/tcltk/src/tcltk.dll
/src/library/tools/src/tools.dll
/src/library/utils/src/utils.dll

/doc/CHANGES
/doc/CHANGES.rds
/doc/CHANGES0
/doc/CHANGES1
/doc/CHANGES2
/doc/FAQ
/doc/html/CHANGES.html
/doc/html/index.html
/doc/html/NEWS.html
/doc/html/packages.html
/doc/html/resources.html
/doc/html/rw-FAQ.html
/doc/manual/R-admin.html
/doc/manual/R-data.html
/doc/manual/R-exts.html
/doc/manual/R-FAQ.html
/doc/manual/R-intro.html
/doc/manual/R-ints.html
/doc/manual/R-lang.html
/doc/manual/rw-FAQ
/doc/manual/version.texi
/doc/NEWS
/doc/NEWS.2.rds
/doc/NEWS.3.rds
/doc/NEWS.rds
/doc/RESOURCES

/etc/Rcmd_environ
/etc/Rconsole
/etc/Rdevga
/etc/rgb.txt
/etc/Rprofile.site

/src/extra/graphapp/Rgraphapp.def
/src/extra/graphapp/Rgraphapp.dll
/src/extra/intl/libgnuintl.h
/src/extra/intl/libintl.h
/src/extra/win_iconv/Riconv.dll

/src/gnuwin32/fixed/fixdoc
/src/gnuwin32/fixed/fixetc
/src/gnuwin32/fixed/fixhtml
/src/gnuwin32/front-ends/open.exe
/src/gnuwin32/front-ends/R.exe
/src/gnuwin32/front-ends/Rcmd.exe
/src/gnuwin32/front-ends/Rfe.exe
/src/gnuwin32/front-ends/Rgui.exe
/src/gnuwin32/front-ends/Rpwd.exe
/src/gnuwin32/front-ends/Rscript.exe
/src/gnuwin32/front-ends/RSetReg.exe
/src/gnuwin32/front-ends/Rterm.exe
/src/gnuwin32/R.dll
/src/gnuwin32/Rpwd.exe

/src/include/config.h
/src/include/fixh
/src/include/iconv.h
/src/include/libintl.h
/src/include/psignal.h
/src/include/Rconfig.h
/src/include/Rmath.h
/src/include/Rmath.h0
/src/include/Rversion.h
/src/include/trioremap.h

/src/modules/lapack/la_constants.mod
/src/modules/lapack/la_xisnan.mod
/src/modules/lapack/lapack.dll
/src/modules/lapack/Rlapack.def



# Rmath standalone stuff
/src/nmath/standalone/Makedeps

/src/nmath/standalone/Rmath.def
/src/nmath/standalone/Rmath.dll
/src/nmath/standalone/test-static.exe
/src/nmath/standalone/test.exe

/src/nmath/standalone/bd0.c
/src/nmath/standalone/bessel_i.c
/src/nmath/standalone/bessel_j.c
/src/nmath/standalone/bessel_k.c
/src/nmath/standalone/bessel_y.c
/src/nmath/standalone/beta.c
/src/nmath/standalone/chebyshev.c
/src/nmath/standalone/choose.c
/src/nmath/standalone/cospi.c
/src/nmath/standalone/d1mach.c
/src/nmath/standalone/dbeta.c
/src/nmath/standalone/dbinom.c
/src/nmath/standalone/dcauchy.c
/src/nmath/standalone/dchisq.c
/src/nmath/standalone/dexp.c
/src/nmath/standalone/df.c
/src/nmath/standalone/dgamma.c
/src/nmath/standalone/dgeom.c
/src/nmath/standalone/dhyper.c
/src/nmath/standalone/dlnorm.c
/src/nmath/standalone/dlogis.c
/src/nmath/standalone/dnbeta.c
/src/nmath/standalone/dnbinom.c
/src/nmath/standalone/dnchisq.c
/src/nmath/standalone/dnf.c
/src/nmath/standalone/dnorm.c
/src/nmath/standalone/dnt.c
/src/nmath/standalone/dpois.c
/src/nmath/standalone/dt.c
/src/nmath/standalone/dunif.c
/src/nmath/standalone/dweibull.c
/src/nmath/standalone/fmax2.c
/src/nmath/standalone/fmin2.c
/src/nmath/standalone/fprec.c
/src/nmath/standalone/fround.c
/src/nmath/standalone/fsign.c
/src/nmath/standalone/ftrunc.c
/src/nmath/standalone/gamma.c
/src/nmath/standalone/gamma_cody.c
/src/nmath/standalone/gammalims.c
/src/nmath/standalone/i1mach.c
/src/nmath/standalone/imax2.c
/src/nmath/standalone/imin2.c
/src/nmath/standalone/lbeta.c
/src/nmath/standalone/lgamma.c
/src/nmath/standalone/lgammacor.c
/src/nmath/standalone/log1p.c
/src/nmath/standalone/mlutils.c
/src/nmath/standalone/pbeta.c
/src/nmath/standalone/pbinom.c
/src/nmath/standalone/pcauchy.c
/src/nmath/standalone/pchisq.c
/src/nmath/standalone/pexp.c
/src/nmath/standalone/pf.c
/src/nmath/standalone/pgamma.c
/src/nmath/standalone/pgeom.c
/src/nmath/standalone/phyper.c
/src/nmath/standalone/plnorm.c
/src/nmath/standalone/plogis.c
/src/nmath/standalone/pnbeta.c
/src/nmath/standalone/pnbinom.c
/src/nmath/standalone/pnchisq.c
/src/nmath/standalone/pnf.c
/src/nmath/standalone/pnorm.c
/src/nmath/standalone/pnt.c
/src/nmath/standalone/polygamma.c
/src/nmath/standalone/ppois.c
/src/nmath/standalone/pt.c
/src/nmath/standalone/ptukey.c
/src/nmath/standalone/punif.c
/src/nmath/standalone/pweibull.c
/src/nmath/standalone/qbeta.c
/src/nmath/standalone/qbinom.c
/src/nmath/standalone/qcauchy.c
/src/nmath/standalone/qchisq.c
/src/nmath/standalone/qexp.c
/src/nmath/standalone/qf.c
/src/nmath/standalone/qgamma.c
/src/nmath/standalone/qgeom.c
/src/nmath/standalone/qhyper.c
/src/nmath/standalone/qlnorm.c
/src/nmath/standalone/qlogis.c
/src/nmath/standalone/qnbeta.c
/src/nmath/standalone/qnbinom.c
/src/nmath/standalone/qnbinom_mu.c
/src/nmath/standalone/qnchisq.c
/src/nmath/standalone/qnf.c
/src/nmath/standalone/qnorm.c
/src/nmath/standalone/qnt.c
/src/nmath/standalone/qpois.c
/src/nmath/standalone/qt.c
/src/nmath/standalone/qtukey.c
/src/nmath/standalone/qunif.c
/src/nmath/standalone/qweibull.c
/src/nmath/standalone/rbeta.c
/src/nmath/standalone/rbinom.c
/src/nmath/standalone/rcauchy.c
/src/nmath/standalone/rchisq.c
/src/nmath/standalone/rexp.c
/src/nmath/standalone/rf.c
/src/nmath/standalone/rgamma.c
/src/nmath/standalone/rgeom.c
/src/nmath/standalone/rhyper.c
/src/nmath/standalone/rlnorm.c
/src/nmath/standalone/rlogis.c
/src/nmath/standalone/rmultinom.c
/src/nmath/standalone/rnbinom.c
/src/nmath/standalone/rnchisq.c
/src/nmath/standalone/rnorm.c
/src/nmath/standalone/rpois.c
/src/nmath/standalone/rt.c
/src/nmath/standalone/runif.c
/src/nmath/standalone/rweibull.c
/src/nmath/standalone/sexp.c
/src/nmath/standalone/sign.c
/src/nmath/standalone/signrank.c
/src/nmath/standalone/snorm.c
/src/nmath/standalone/stamp-src
/src/nmath/standalone/stirlerr.c
/src/nmath/standalone/toms708.c
/src/nmath/standalone/wilcox.c
